﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewBag.Title = "_LayoutAsset";
}



<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Asset")</li>
        <li>@Html.ActionLink("Register", "Register", "Asset")</li>
    </ul>
</div>

@RenderBody()


