﻿@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>@ViewBag.Message</h3>
        <h3>@ViewBag.University</h3>
    </div>
</body>
</html>
